<div style="padding: 10px; text-align: center">
	<img src="{{ 'logo.png' | asset_url }}">
	<p>JOIN OUR MAILING LIST FOR 10% OFF YOUR FIRST ORDER!</p>
	<div style="margin: 0 auto">{% include 'mailing' %}</div>
	<br>
	<br>
</div>

